<nav class="nav navbar-inverse ">
        <div class="navbar-header">
            <img width="180px" margin="2px" src = "../../assets/header-img.png">
        </div>
</nav>
<nav class="nav navbar">
    <span class="title">5% DISCOUNT ON ALL ESPRESSO BAR DRINKS!!! BUY NOW</span>
</nav>

<div class="nav messageBar" [class.errorBar]="isError" *ngIf="!!message">
    <span class="title">{{message}}</span>
    <div class="removeBtn" (click)="clearMessage()" *ngIf="showRemoveBtn">&#10006;</div>
</div>
<ngx-spinner></ngx-spinner>
<router-outlet></router-outlet>