<div class="row mt-5">
	<div class="col-sm-3 center-items">
		<input id="ordName" class="fit-width" *ngIf="!isViewOnly()" type="text" [(ngModel)]="orderValue.orderName" />
		<span *ngIf="isViewOnly()">{{orderValue.orderName ? orderValue.orderName : "-"}}</span>
	</div>
	<div class="col-sm-3 center-items">
		<input id="ordPrice" class="fit-width" *ngIf="!isViewOnly()" type="tel" [(ngModel)]="orderValue.price" />
		<span *ngIf="isViewOnly()">{{orderValue.price ? orderValue.price : "-"}}</span>
	</div>
	<div class="col-sm-3 center-items">
		<input id="ordDiscounted" type="checkBox" [attr.disabled]="isViewOnly() ? true : null" [(ngModel)]="orderValue.discounted" />
	</div>
	<div class="col-sm-3 center-items">
		<div *ngIf="isAdd()">
			<button id="addOrderBtn" (click) ="doSubmit()">Place Order</button>
		</div>
		<div *ngIf="isUpdate()">
			<a id="updOrd" (click)="doSubmit()">Update</a>
			|
			<a (click)="doCancel()">Cancel</a>
		</div>
		<div *ngIf="isViewOnly()">
			<a id="editOrd" (click)="enterUpdateMode()">Edit</a>
			|
			<a id="deleteOrd" (click)="doSubmit(true)">Delete</a>
		</div>
	</div>
</div>